# Godot 4+ specific ignores
.godot/
# nonfree placeholders must be excluded
nonfree/
text.en.translation
text.es.translation
text.ja.translation
Midori in the Magic School.apk
Midori in the Magic School.x86_64
Midori in the Magic School.arm64
android
